@import '/src/app/mixins.scss';

.contact {
    display: flex;
    width: 100%;
    align-items: center;
    @include padding;
    @include padding-three;
    border-bottom: none;
    padding-block: 10rem 7.5rem !important;
    max-width: 1500px;
    gap: 10vw;
    // justify-content: space-between;

    @media (max-width: 1019px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }





    .contactdetails {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex: 1;
        justify-content: center;


        >img:nth-child(3) {
            max-width: 650px;
        }


        h2 {
            font-size: clamp(1.75rem, 2.8vw, 2.8rem);
            color: var(--purple-light);
        }

        ul {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;


            >li:nth-child(3) ,  >li:nth-child(4) {
                max-width: 22ch;
            }

             >li:nth-child(5) {
                margin-top: 1rem;
            }

            li {
                display: block;
                max-width: 15ch;
                font-size: 0.9rem;
                line-height: 1.6;

                span {
                    color: var(--purple-light);
                    font-weight: 500;
                    font-size: 1rem;

                }

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.5rem;
                }
            }


            a {
                background-image: linear-gradient(var(--purple-bright) 50%, var(--purple-light) 100%), ;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                transition: 0.5s ease;
                background-size: 0;
                background-repeat: no-repeat;
                display: inline;

                &:hover {
                    color: transparent;
                    background-size: 100%;
                }
            }
        }
    }






    .container {
        position: relative;
        flex: 1;
        border-radius: 0.75rem;
        width: 80vw;
        max-width: 450px;

        img {
            width: 40vw !important;
            max-width: 600px;
        }


        @media (min-width: 720px) and (max-width: 1019px) {
            padding: 2.5rem;
            max-width: 600px;
        }
        @media (min-width: 1020px) and (max-width: 1249px) {
            padding: 2rem 3rem;
        }
        

        @media (min-width: 1250px) {
            padding: 2.5rem 4rem;
        }

        @media (min-width: 1020px) {
            background: rgba(255, 255, 255, 0.03);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            max-width: 650px;
        }

        aside {
            h3 {
                color: var(--purple-light);
                font-size: clamp(1.55rem, 1.75vw, 2.2rem);
                font-weight: 600;
                margin-bottom: 0;
            }

            margin-bottom: 1.5rem;
        }




        form {
            position: relative;
            z-index: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 1.5rem;

            .inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                width: 100%;


                .inputdiv {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                    width: 100%;

                    label {
                        font-size: 0.8rem;
                        font-weight: 500;
                        margin-bottom: 0.5rem;

                    }

                    input,
                    textarea {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        resize: none;
                        outline: none;
                        background-color: transparent;
                        padding: 0.85rem;
                        border: solid 2px white;
                        border-radius: 6px;
                        font-size: 0.85rem;
                        font-family: var(--text-montserrat);
                        transition: all ease-in-out 350ms;

                        &:focus,
                        &:focus-visible {
                            outline: none;
                            border-right: solid 2px var(--purple-light);
                            border-top: solid 2px var(--purple-bright);
                            border-bottom: solid 2px var(--purple-light);
                            border-left: solid 2px var(--purple-bright);
                        }
                    }

                }

            }
        }

    }





    button {
        display: inline-block;
        align-self: center;
        justify-self: center;
        border: solid 2px transparent;
        border-radius: 0.25rem;
        padding: 0.9rem 2.3rem;
        background: var(--primary-gradient);
        background-size: 200% 100%;
        background-position: 0;
        margin-top: 1rem;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        transition: all ease-in-out 350ms;



        &:hover {
            background: rgba(255, 255, 255, 0.03);
            border-right: solid 2px var(--purple-light);
            border-top: solid 2px var(--purple-bright);
            border-bottom: solid 2px var(--purple-light);
            border-left: solid 2px var(--purple-bright);
        }




    }


}