.typewriter {
    overflow: hidden;
    border-right: 0.08rem solid var(--purple-light);
    margin: 0 auto;
    animation:
        typing 3.5s steps(40, end),
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--purple-light);
        ;
    }
}